body{
    font-family: Arial, sans-serif;
    background-color: #fce4ec;
    color: #333;
    margin: 40px;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.rol{
    font-size: 18px;
    color: #6a1b9a;
    margin: 5px 0;
}

.frase {
    font-size: 14px;
    color: #999;
}

h1 {
    color: #8e24aa;
}

h2 {
    color: #d81b60;
    margin-top: 30px;
}

.project{
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: #fafafa;
}

.project h3 {
    margin-top: 0;
    color: #6a1b9a;
}

.btn{
    display: inline-block;
    margin-top: 8px;
    padding: 6px 15px;
    background-color: #d81b60;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

P, li{

    line-height: 1.6;
}

a{
    text-decoration: none;
    color: #6a1b9a;
    font-weight: bold;
}

a:hover{
    color: #ad2457;
}

@media (max-width: 600px){

    body{
        margin: 20px;
    }

    .container{
        padding: 20px;

    }

    h1{
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    .btn{
        width: 100%;
        text-align: center;
    }
}